<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.arc.fast.core">

    <application>

        <provider
            android:name="com.arc.fast.core.FastCoreInitProvider"
            android:authorities="${applicationId}.arc.fast.core.init.provider"
            android:exported="false" />

    </application>

</manifest>